.book-list {
  list-style: none;
  padding-inline-start: 0;
  position: relative;
  padding: 2.5rem 0;
}

.book-list::before {
  content: "";
  position: absolute;
  width: 75rem;
  bottom: 0;
  margin-inline: 100px;
  border: solid 1px #e8e8e8;
}

.book-item {
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
  position: relative;
}
