.book-list {
  width: 90%;
  margin: 0 auto;
  padding: 4rem;
  list-style: none;
  padding-inline-start: 0;
}

.book-item {
  margin-bottom: 2rem;
}

.books p {
  font-size: 3rem;
  margin-bottom: 1rem;
}
