:root {
  --bubble-gum-pink: #ff5ab7;

  --black: #1e1e1e;

  --pinkish-grey: #c7c7c7;

  --very-light-pink: #c4c4c4;

  --pale-grey: #f5f6fa;

  --z: #fafafa;

  --medium-blue: #307bbe;

  --cool-blue: #4386bf;

  --white-two: #fff;

  --azure: #0290ff;
}
